{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="icon" href="{% static 'imgs/sea.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles-main.css' %}">
    <link rel="stylesheet" href="{% static 'styles-navigation.css' %}">
    <title>Ваши игры</title>
</head>
<body>
    {% include "predicts/navigation.html" %}

<div class="main-content">
    <h1>Ваши игры</h1>
    <div class="game-block">
        <img src="фотоморскойбой.jpeg" alt="Игра 1" style="width: 20%; height: 20%;">
        <h2>Морской бой</h2>
        <p>"Морской бой" - это игра для двух игроков, где каждый игрок размещает свои корабли на игровом поле и пытается потопить корабли противника.

            Игровое поле представляет собой сетку клеток. Каждая клетка может быть пустой или содержать часть корабля. Корабли могут быть различной длины: от одной до нескольких клеток.
            
            Игроки по очереди выбирают клетки на поле противника, указывая координаты. Если выбранная клетка содержит часть корабля противника, то корабль считается подбитым. Если все клетки корабля подбиты, корабль считается потопленным.
            
            Цель игры - первым потопить все корабли противника и выиграть игру.</p>
    </div>

    <div class="game-block">
        <img src="game2.jpg" alt="Игра 2">
        <h2>Название игры 2</h2>
        <p>Описание игры 2. Какие-то дополнительные детали и информация.</p>
    </div>
</div>

</body>
</html>
