{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="icon" href="{% static 'imgs/sea.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles-login.css' %}">
    <title>Авторизация</title>
</head>
<body>

<div class="login-container">
    <div class="logo-container">
        <img class="logo" src="{% static 'imgs/sea.jpg' %}" alt="Логотип">
    </div>
    <h2>Авторизация</h2>
    {% if "LogInv" in errors %}
        <p class="error">Ошибка в логине или пароле, повторите попытку</p>
    {%  endif %}
    <form action="login" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="login">Логин:</label>
            {{ form.login }}
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            {{form.password}}
        </div>
        <div class="form-group">
            <button type="submit" value="login" class="main_but">Войти</button>
            <a type="submit" href="reg" class="double_but">Зарегистрироваться</a>
        </div>
    </form>
</div>

</body>
</html>
