{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'imgs/sea.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'User_Profile.css' %}">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles-navigation.css' %}">
    <title>Профиль Участника</title>
</head>
<body>
    {% include "predicts/navigation.html" %}
    {% if mess != None %}
        <div class="message">
            {{mess}}
            {% if mess == "name_changed" %}
                <p>Имя успешно изменено</p>
            {% endif %}
        </div>
    {% endif %}

    <header>
        <h1>Профиль Участника</h1>
    </header>
    <main>
        <section class="profile-section">
            <div class="profile-image" id="profile-image"></div>
            <div class="user-name">{{ name }}</div>
            <div class="user-description">Описание Участника</div>
        </section>

        <section class="settings-section">
            <h2 style="
            text-align: center;
        ">Настройки</h2>
            <a class="settings-button"  onclick="admVis()">Стать Админом</a>
            <a class="settings-button" onclick="nameVis()">Сменить имя</a>
            <a class="settings-button" onclick="passVis()">Сменить пароль</a>
            <a class="settings-button logout-button" href="logout">Выйти из аккаунта</a>
        </section>
        <script src="{% static 'js/profile.js' %}">
        </script>

        <section class="awards-section">
            <h2>Награды</h2>
            <div class="awards-block">
                <div class="award">
                    <div class="award-title">Награда 1</div>
                    <div class="award-count">10</div>
                </div>
                <div class="award">
                    <div class="award-title">Награда 2</div>
                    <div class="award-count">5</div>
                </div>
                <div class="award">
                    <div class="award-title">Награда 3</div>
                    <div class="award-count">8</div>
                </div>
                <div class="award">
                    <div class="award-title">Награда 4</div>
                    <div class="award-count">15</div>
                </div>
                <div class="award">
                    <div class="award-title">Награда 5</div>
                    <div class="award-count">3</div>
                </div>
                <div class="award">
                    <div class="award-title">Награда 6</div>
                    <div class="award-count">3</div>
                </div>
                <div class="award">
                    <div class="award-title">Награда 7</div>
                    <div class="award-count">3</div>
                </div>
                <div class="award">
                    <div class="award-title">Награда 8</div>
                    <div class="award-count">3</div>
                </div>
                <div class="award">
                    <div class="award-title">Награда 9</div>
                    <div class="award-count">3</div>
                </div>
                <div class="award">
                    <div class="award-title">Награда 10</div>
                    <div class="award-count">3</div>
                </div>
            </div>
        </section>
    </main>

<footer>
        <article id="admForm">
            <form action="adm" method="POST">
                {% csrf_token %}
                <h3>Получение прав админа</h3>
                <p class="quest">Введите токен администратора</p>
                {{ admForm.token }}
                <button type="submit" value="adm" class="submit-but">Подтвердить</button>
            </form>
        </article>



        <article id="nameForm">
            <form action="change_Name" method="POST">
                {% csrf_token %}
                <h3>Смена имени</h3>
                <p class="quest">Введите новое имя:</p>
                {{ nameForm.new_login }}
                <button type="submit" value="name" class="submit-but">Подтвердить</button>
            </form>
        </article>
        <article id="passForm">
            <form action="PWch" method="POST">
                {% csrf_token %}
                <h3>Смена пароля</h3>
                <p class="quest">Введите новый пароль</p>
                {{ passForm.password }}
                <p class="quest">Подтвердите новый пароль</p>
                {{ passForm.password_double }}
                <button type="submit" value="PWch" class="submit-but">Подтвердить</button>
            </form>
        </article>
    </footer>
</body>
</html>
